.ScrollButton{
    border: none;
    outline: none;
    color: #4c4c4c;
    background: none;
    position: fixed;
    bottom: 15px;
    right: 30px;
    cursor: pointer;
    i{    
        font-size: 30px;
        color: #4c4c4c
    }
}